*,
::before,
::after,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: icons;
  src: url(./fonts/icons.ttf);
}

body {
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Source Sans Pro", sans-serif; */
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  color: #000000;
}

.header {
  position: fixed;
  height: 96px;
  width: 100%;
  box-shadow: #888888 0px 2px 2px;
  z-index: 20;
}

/* .header::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
} */
.container {
  background-color: #111111;
  width: 100%;
}

.header-inner__top,
.header-inner__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  align-items: center;
  max-width: 1440px;
}

.header-inner__bottom {
  height: 60px;
  background-color: #ffffff;
  color: #212121;
}

.header__menu-burger {
  display: none;
}
.header__menu-contact {
  display: none;
}
.header-inner__top {
  background: #111111;
  color: #ffffff;
  height: 36px;
  font-size: 12px;
}
.header__contacts_social-link {
  display: none;
}

.header__contacts {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header__contacts:nth-child(n) {
  height: 100%;
}

.header__contacts_address {
  margin: auto 0;
}

.header__contacts_contacts a {
  color: #ffffff;
}
.header__contacts_contacts {
  display: block;
  color: #ffffff;
  margin: auto 0;
}

.contact-link:first-child {
  font-weight: 400;
}
.contact-link {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  margin-left: 15px;
}

.header__menu {
  display: flex;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
}
.header__menu:last-child a {
  margin-right: 0px;
}
.icon-logo-mobile {
  display: none;
}

.menu__link {
  line-height: 60px;
  margin: auto 0 auto 30px;
  height: 100%;
  position: relative;
}

.menu__link:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #212121;
}

/* ---------------main------------------- */
.main {
}
.home-page {
  position: relative;
  top: 98px;
  display: flex;
  width: 100%;
  max-width: 1440px;
  background-color: #ffffff;
  margin: 0 auto;
}

.home-page__request {
  position: relative;
  width: 100%;
  height: 804px;
  background: linear-gradient(#efefef, 20%, #ffffff);
  padding: 100px 0 0 130px;
  z-index: 15;
}
.home-page__image {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 344px;
}

.home-page__image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-page__content {
  position: relative;
  z-index: 1;
  max-width: 530px;
  width: 100%;
  min-height: 314px;
  height: auto;
}
.home-page__title {
  width: 100%;
  font-size: 64px;
  height: auto;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  line-height: 64px;
}
.home-page__description-mobile {
  display: none;
}

.home-page__description {
  font-size: 20px;
  width: 100%;
  max-width: 390px;
  line-height: 32px;
  font-weight: 400;
  color: #5b5b5b;
  margin: 25px 0 15px 0;
}
.home-page__call-button {
  background-color: #2c6dec;
  width: 179px;
  height: 48px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  line-height: 48px;
  border-radius: 24px;
  cursor: pointer;
}
.home-page__background-image {
}
.home-page__services {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 440px;
}

.home-page__container {
  position: relative;
  z-index: 5;
  margin: 50px 0 0 40px;
}

.home-page__repair,
.home-page__traid-in {
  display: inline-block;
  background: linear-gradient(to bottom right, #dfdfdf, #ffffff);
  width: 100%;
  max-width: 440px;
  max-height: 402px;
  height: 100%;
  position: relative;
}

.home-page__service-title {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.home-page__service-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #5b5b5b;
}
.home-page__service-description-mobile {
  display: none;
}

.home-page__service-button {
  font-size: 32px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
}

.home-page__service-image {
  position: absolute;
  z-index: 1;
  bottom: -3px;
}

/* ------------location----------- */

.location {
  width: 100%;
  max-width: 1440px;
  height: 542px;
  margin: 0 auto;
  position: relative;
  top: 98px;
}

.location__content {
  position: absolute;
  width: 100%;
  max-width: 433px;
  height: 112px;
  margin: 100px 0 0 132px;
  z-index: 10;
}
.location__address {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.location__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #5b5b5b;
  margin-top: 5px;
}

.location__image {
  position: relative;
  height: 542px;
  width: 100%;
  max-width: 1440px;
}

.location__image img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1440px;

  height: 100%;
}

/* --------services------------ */

.services {
  position: relative;
  top: 96px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.services__main-services {
  display: flex;
}
.services__warranty-repair,
.services__sale-phone {
  position: relative;
  width: 50%;
  max-width: 720px;
  height: 496px;
  background: linear-gradient(to bottom right, #cbcbcb, #ffffff);
}

.services__content {
  z-index: 5;
  position: relative;
  width: 100%;
  max-width: 477px;
  padding: 57px 0 0 56px;
}
.services__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 10px;
}
.services__description {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #5b5b5b;
}

.services__button {
  display: inline-block;
  cursor: pointer;
}
.icon-button-mobile {
  display: none;
}
.services__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 0;
}

.services__repair-left {
  position: absolute;
  bottom: -150px;
  left: -147px;
}
.services__repair-right {
  position: absolute;
  bottom: -225px;
  left: 165px;
}

.services__sale-left {
  position: absolute;
  bottom: -250px;
  left: -80px;
  transform: rotate(-30deg);
}
.services__sale-right {
  max-width: 250px;
  overflow: hidden;
  position: absolute;
  bottom: -50px;
  left: 400px;
  transform: rotate(50deg);
}
.services__sale-right img {
  transform: rotate(10deg);
  object-fit: contain;
}

.service-items {
  max-width: 1440px;
  width: 100%;
  padding: 112px;
  position: relative;
  margin: 0 auto;
  display: flex;
}
.service-items__container {
  width: 100%;
  max-width: 1216px;
  height: 480px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}
.service-items__item {
  width: 28%;
}
.service-items__content {
  max-width: 336px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.service-items__image {
  font-size: 64px;
}
.service-items__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
.service-items__description {
  font-size: 16px;
  font-weight: 400;
  color: #959595;
  line-height: 24px;
}
/* ---------footer----------- */

.footer {
  position: relative;
  height: 400px;
  top: 96px;
  background-color: #111111;
  color: #ffffff;
}

.footer__container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}
.footer__request {
  padding: 64px 0px 100px 0px;
  width: 100%;
  max-width: 320px;
}

.request__title {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.32;
}

.footer__image {
  display: none;
}
.request__form {
  width: 100%;
  max-width: 320px;
  margin-top: 7px;
}
.request__form-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.request__form-invalid-text {
  display: none;
}

.request__form-field {
  max-width: 312px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  height: 48px;
  border-radius: 7px;
  align-items: center;
  background-color: #ffffff;
  margin-top: 10px;
}

.popup-call__container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 60px;
  max-width: 440px;
}
.popup-call__image {
  position: absolute;
  top: 0;
  right: 0;
}

.popup-call .popup-call__container .request__form .request__form-field {
  margin-top: 15px;
}

.popup-call .popup-call__container .request__form .request__form-field.invalid {
  margin-top: 15px;
  background-color: #fff1f1;
}
.popup-call .popup-call__container .request__form .request__form-invalid-text {
  color: #ff0000;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}
.popup-call .popup-call__container .request__form .request__form-field {
  border: 1px solid #cbcbcb;
}
.popup-call .popup-call__container .request__form .request__form-field.invalid {
  border: 1px solid #ff0000;
}

.popup-call .popup-call__container .request__form .request__form-sub-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  opacity: 0.24;
  margin-top: 10px;
}
.popup-call .popup-call__container .request__form .request__form-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: #5b5b5b;
}
.popup-call .popup-call__container .request__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  opacity: 1;
  margin-bottom: 30px;
}

.popup-call.popup {
  /* visibility: hidden; */
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

.popup-call.popup.open {
  visibility: visible;
  opacity: 1;
}

.popup-call__content {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
  z-index: 100;
  width: 100%;
  max-width: 696px;
  height: 356px;
  background-color: #ffffff;
  border-radius: 24px;
}

.popup-call__button-close {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 50;
  font-size: 21px;
  cursor: pointer;
}

.popup-call__image {
  width: 100%;
  max-width: 256px;
  /* overflow: hidden; */
}

.request__form-input {
  width: 100%;
  max-width: 207px;
  height: 40px;
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  outline: none;
  border: none;
}

.request__form-button {
  height: 40px;
  width: 105px;
  background-color: #2c6dec;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  font-weight: 500;
  cursor: pointer;
}
.request__form-sub-title {
  font-size: 12px;
  line-height: 14px;
  opacity: 0.24;
  margin-top: 10px;
}

.icon-footer-button-mobile {
  display: none;
}

.footer__contacts {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 64px 0px 100px 0px;
}
.contacts__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  opacity: 0.32;
}

.contacts__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__block {
  width: 30%;
}

.contacts__location {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.contacts__map {
  overflow: hidden;
  width: 30%;
  object-fit: cover;
  margin-right: 40px;
  border-radius: 5px;
}

.contacts__sub-title {
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
}
.contacts__sub-title a {
  color: #ffffff;
}

.contacts__social-link {
  font-size: 24px;
  margin-top: 20px;
}
.contacts__social-link a {
  font-size: 24px;
  color: #ffffff;
  margin-right: 9px;
}

.footer__information {
  width: 100%;
  max-width: 1246px;
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
}
.footer__information .icon-helloworld {
  font-size: 16px;
}
.footer__develop span {
  vertical-align: middle;
}

.popup {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

.popup.open {
  visibility: visible;
  opacity: 1;
}

.popup__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: auto;
  width: 352px;
  height: 244px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
}

.popup__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
.popup__button-close {
  font-size: 21px;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
}

.popup__button-close .icon-close:hover::before {
  transition: all 0.3s linear;
  color: #333333;
}

.popup-repair.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}

.popup-repair.popup.open {
  visibility: visible;
  opacity: 1;
  /* transition: all 0.5s ease; */
}

.popup-repair__content {
  width: 100%;
  max-width: 1112px;
  height: 672px;
  background: #ffffff;
  margin: 0 auto;
  border-radius: 24px;
  position: relative;
  text-align: center;
}
.close-popup {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 21px;
  cursor: pointer;
}
.close-popup .icon-close:hover::before {
  transition: all 0.3s linear;
  color: #333333;
}

.popup-repair__title {
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  padding: 66px 0 20px 0;
}
.popup-repair__sub-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #5b5b5b;
}

.popup-repair__items {
  width: 100%;
  max-width: 888px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.popup-repair__items::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #cbcbcb;
  display: inline-block;
}

.popup-repair__item {
  text-align: left;
  width: 33%;
  padding: 90px 0 60px 0;
}

.pupup-repair__item-title {
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
}
.item-list__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #5b5b5b;
}

.item-list__item::before {
  content: "";
  width: 4px;
  height: 4px;
  margin-right: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #5b5b5b;
  vertical-align: middle;
}

.popup-repair__item-icon {
  font-size: 32px;
  display: inline-block;
  padding-left: 3px;
}
.popup-repair__additional-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  width: 100%;
  max-width: 530px;
  height: 54px;
  margin: 0 auto;
  padding-top: 45px;
}
.popup-repair__background-image {
  width: 100%;
  height: 347px;
  top: 168px;
  position: absolute;
  overflow: hidden;
  filter: blur(150px);
}
.popup-repair__background-image img {
  transform: scale(3, 3) translate(20px, -50px);
  opacity: 0.2;
}

@media (max-width: 1023px) {
  .home-page {
    display: block;
    /* flex-wrap: wrap; */
  }

  .home-page__request {
    padding: 50px 0 0 45px;
  }

  .home-page__content {
  }

  .home-page__title {
    font-size: 56px;
  }

  .home-page__description {
    font-size: 18px;
  }

  .home-page__services {
    width: 100%;
    max-width: 1023px;
    height: auto;
    flex-direction: row;
  }

  .home-page__repair,
  .home-page__traid-in {
    width: 50%;
    max-width: 511.5px;
    height: 312px;
    overflow: hidden;
  }
  .home-page__service-image {
    width: 100%;
    max-width: 511.5px;
    height: 312px;
    bottom: 0px;

    /* bottom: -3px; */
  }
  .home-page__service-image img {
    max-width: 511.5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .location {
    width: 100%;
    max-width: 1024px;
    /* height: 100%; */
    height: 542px;
    overflow: hidden;
  }

  .location__content {
    position: absolute;
    width: 100%;
    max-width: 433px;
    height: 112px;
    margin: 70px 0 0 40px;
    z-index: 5;
  }

  .location__image {
    width: 100%;
    max-width: 1024px;
    height: 542px;
  }
  .location__image img {
    max-width: 1024px;
  }

  .services {
    max-width: 1024px;
  }
  .services__warranty-repair,
  .services__sale-phone {
    max-width: 512px;
    height: 480px;
    background: linear-gradient(to bottom right, #cbcbcb, #ffffff);
  }

  .services__content {
    width: 100%;
    max-width: 287px;
  }

  .services__title {
    line-height: 32px;
  }
  .services__repair-left {
    bottom: -200px;
    left: -236px;
    transform: scale(0.9, 0.9);
  }
  .services__repair-right {
    bottom: -255px;
    left: 60px;
    transform: rotate(0deg);
  }

  .services__image {
  }
  .services__sale-left {
    bottom: -250px;
    left: 0px;
    transform: rotate(35deg) scale(-1, 1);
  }
  .services__sale-right {
    bottom: -100px;
    left: -150px;
    transform: rotate(-45deg);
  }

  .service-items__container {
    height: 712px;
  }
  .service-items__title {
    font-weight: 500;
  }

  .service-items__item {
    width: 48%;
    margin-bottom: 60px;
  }

  .service-items {
    max-width: 1024px;
    width: 100%;
    padding: 60px 40px;
  }
  .footer {
    height: 560px;
  }

  .footer__container {
    flex-wrap: wrap;
    padding: 0;
  }

  .footer__request {
    width: 50%;
    max-width: 512px;
    height: 256px;
    background: linear-gradient(to bottom right, #e5e5e5, #ffffff);
    color: #000000;
    padding: 50px 40px;
  }

  .footer__image {
    height: 256px;
    position: relative;
    width: 50%;
    overflow: hidden;
    display: block;
  }

  .footer__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .footer__contacts {
    width: 100%;
    padding: 40px 40px 30px 40px;
  }

  .contacts__map {
    width: 100%;
    max-width: 243px;
  }

  .footer__container::after {
    content: "";
    width: 100%;
    height: 1px;
    margin: 0 40px;
    background-color: #5b5b5b;
  }
  .footer__information {
    padding: 20px 40px;
  }
  .popup-call__content {
    max-width: 656px;
  }
  .popup-call__image {
    max-width: 216px;
  }

  .popup-repair__content {
    max-width: 656px;
    height: 768px;
  }
  .popup-repair__title {
    font-size: 24px;
    line-height: 32px;
    padding: 50px 0 0px 0;
  }
  .popup-repair__sub-title {
    font-size: 16px;
    color: #5b5b5b;
    padding-bottom: 20px;
  }

  .popup-repair__items {
    max-width: 480px;
    flex-direction: column;
  }

  .popup-repair__item {
    text-align: left;
    width: 100%;
    padding: 28px 0 0px 0;
  }
  .close-popup {
    font-size: 24px;
  }
  .popup-repair__item::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin-top: 36px;
  }
  .popup-repair__item:last-child::after {
    display: none;
    background-color: #ff0000;
  }

  .popup-repair__items::after {
    display: none;
  }
  .popup-repair__additional-text {
    display: none;
  }
  .popup-repair__item-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .item-list__item {
    width: 50%;
  }

  .pupup-repair__item-title {
    font-weight: 700;
    padding: 0 0 30px 0;
  }

  .item-list__item {
    font-size: 16px;
    line-height: 24px;
    color: #5b5b5b;
  }
}

@media (max-width: 768px) {
  body a {
    color: #000000;
  }

  .header__menu-burger {
    position: relative;
    width: 20px;
    height: 11px;
    cursor: pointer;
  }

  .burger::after,
  .burger::before {
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #111111;
    z-index: 5;
    content: "";
    transition: all 0.3s ease 0s;
  }

  .header_menu-contact.active span::before,
  .header_menu-contact.active span::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
  }
  .close::before,
  .close::after {
    width: 20px;
    height: 2px;
    position: absolute;
    content: "";
    z-index: 5;
    transition: all 0.1s ease 0s;
    background-color: #111111;
  }

  .close::after {
    visibility: hidden;
    bottom: 50%;
  }
  .close::before {
    visibility: hidden;
    top: 50%;
  }

  .header__menu-contact.active .icon-phone::before {
    visibility: hidden;
  }
  .header__menu-contact.active {
    border: transparent;
  }

  .header__menu-contact.active .close::before {
    visibility: visible;
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__menu-contact.active .close::after {
    visibility: visible;
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .header_menu-contact.active span::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header_menu-contact.active span::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .header__menu-burger.active .burger::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header__menu-burger.active .burger::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .burger::after {
    bottom: 0;
  }
  .burger::before {
    top: 0;
  }
  .icon-helloworld {
    display: none;
  }
  .icon-logo-mobile {
    display: block;
  }

  .header__menu-burger,
  .header__menu-contact {
    display: block;
  }
  .header__menu-contact {
    border: #111111 1px solid;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
  }

  .header {
    height: 56px;
  }

  .header-inner__top {
    position: fixed;
    top: -100%;
  }

  .header-inner__bottom {
    height: 56px;
  }
  .header__contacts {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: 200px;
    color: #111111;
    z-index: 10;
  }
  .header__contacts:nth-child(n) {
    height: auto;
  }

  .header__contacts_contacts a {
    color: #111111;
  }
  .header__contacts_contacts {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    margin: auto 0px;
    height: 100%;
  }

  .contact-link {
    text-align: center;
    display: block;
    width: 100%;
    height: 40px;
    margin: auto 0;
  }

  .header__contacts_address {
    display: none;
  }

  .header__contacts_social-link {
    display: block;
    margin: 10px auto;
    font-size: 28px;
    padding-top: 20px;
  }

  .header__contacts_social-link span {
    margin: 10px;
  }

  .header__menu.active,
  .header__contacts.active {
    display: flex;
    z-index: 15;
  }

  .header__menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #ffffff;
  }

  .menu__link {
    line-height: 60px;
    margin: auto 30px auto 30px;
    height: 100%;
    position: relative;
  }

  .menu__link:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
  }

  /* -------------main------------- */
  .home-page {
    top: 58px;
    max-width: 768px;
  }

  .home-page__request {
    position: relative;
    height: 512px;
    background: linear-gradient(to bottom, #cdcdcd, 0.1% #ffffff);
  }

  .home-page__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
  }
  .home-page__description {
    display: none;
  }

  .home-page__description-mobile {
    display: block;
    font-size: 16px;
    width: 100%;
    max-width: 390px;
    line-height: 24px;
    font-weight: 400;
    color: #5b5b5b;
    margin: 25px 0 15px 0;
  }

  .home-page__image {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 227px;
  }

  .home-page__call-button {
    width: 159px;
    height: 44px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 48px;
    border-radius: 24px;
  }

  /* .home-page__background {
    position: absolute;
    bottom: 0;
    right: 0;
  } */

  .home-page__services {
    flex-direction: column-reverse;
  }

  .home-page__repair,
  .home-page__traid-in {
    overflow: hidden;
    margin-bottom: 5px;
    height: 111px;
    width: 100%;
    max-width: 767px;
    background: linear-gradient(to bottom right, #dfdfdf, 50%, #ffffff);
  }
  .home-page__service-image {
    height: 100%;
    width: auto;
    right: -50px;
    bottom: 0;
    overflow: hidden;
  }

  .home-page__repair .home-page__service-image img {
    display: block;
    transform: rotate(30deg);
  }
  .home-page__traid-in .home-page__service-image img {
    display: block;
    transform: rotate(84deg);
  }

  .home-page__traid-in .home-page__service-image {
    height: 205px;
    transform: scale(-0.7, -0.7) translate(-40px, -50px);
    object-fit: cover;
  }
  .home-page__repair .home-page__service-image {
    height: 205px;
    transform: scale(-1.2, 1.2) translate(-20px, 0px);
    object-fit: cover;
  }
  .home-page__service-title {
    font-size: 20px;
  }

  .home-page__service-description,
  .home-page__service-button {
    display: none;
  }
  .home-page__service-description-mobile {
    display: block;
  }
  .home-page__service-description-mobile a {
    color: #2c6dec;
  }
  .home-page__service-description-mobile a::after {
    display: inline-block;
    content: "";
    color: #2c6dec;
    width: 6px;
    height: 6px;
    margin: 1px 6px;
    border-right: #2c6dec 2px solid;
    border-bottom: #2c6dec 2px solid;
    transform: rotate(-45deg);
  }
  .home-page__container {
    margin: 30px;
  }
  .location {
    display: flex;
    width: 100%;
    max-width: 767px;
    height: 542px;
    overflow: hidden;
    top: 58px;
    background-color: #f8f8f8;
  }

  .location__content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    max-width: 433px;
    height: auto;
    margin: 0px 0px 0 40px;
    padding-right: 30px;
  }

  .location__image {
    position: relative;
    max-width: 767px;
    height: 542px;
  }

  .location__address {
    font-size: 16px;
    line-height: 24px;
  }
  .location__description {
    line-height: 24px;
    color: #5b5b5b;
    margin: 40px 0px 10px 0px;
  }

  .location__description::before {
    display: block;
    width: 100%;
    height: auto;
    font-size: 24px;
    font-weight: 700;
    content: "Бесплатная диагностика";
    color: #111111;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .location__image img {
    transform: scale(1, 1);
    height: 100%;
    position: absolute;
    right: -210px;
    bottom: 0;
  }

  .services {
    max-width: 768px;
    top: 58px;
  }

  .services__main-services {
    display: flex;
    flex-direction: column;
  }
  .services__warranty-repair,
  .services__sale-phone {
    width: 100%;
    max-width: 768px;
    height: 456px;
  }

  .services__content {
    /* width: 100%; */
    width: 100%;
    max-width: 767px;
    padding: 32px 0 0 32px;
  }

  .services__title {
    line-height: 32px;
    max-width: 80%;
  }
  .services__description {
    max-width: 80%;
  }

  .icon-button {
    display: none;
  }
  .icon-button-mobile,
  .icon-button-mobile a {
    display: inline-block;
  }

  .icon-button-mobile::before {
    content: "Подробнее";
    width: 100%;
    height: 20px;
    font-size: 16px;
    color: #0057ff;
    line-height: 16px;
    font-weight: 400;
    font-family: "Ubuntu", sans-serif;
  }

  .icon-button-mobile::after {
    display: inline-block;
    content: "";
    color: #2c6dec;
    width: 6px;
    height: 6px;
    margin: 1px 6px;
    border-right: #2c6dec 2px solid;
    border-bottom: #2c6dec 2px solid;
    transform: rotate(-45deg);
  }
  .services__repair-left {
    bottom: -170px;
    left: -240px;
    transform: scale(0.8, 0.8);
  }
  .services__repair-right {
    bottom: -230px;
    right: 100px;
    transform: rotate(0deg);
    transform: scale(0.8, 0.8);
  }
  .services__sale-left {
    bottom: -250px;
    left: 0px;
    transform: rotate(35deg) scale(-1, 1);
  }
  .services__sale-right {
    bottom: -100px;
    left: -150px;
    transform: rotate(-45deg);
  }
  .service-items {
    max-width: 768px;
    height: 320px;
    padding: 40px 32px;
    min-width: 0;

    display: flex;
    flex-direction: row;
  }
  .service-items__item {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    min-width: 0;
  }
  .service-items__container {
    width: 100%;
    max-width: 256px;
    height: 320px;
    margin: 0 auto;
    flex-wrap: nowrap;
    min-width: 0;
    display: flex;
  }

  .footer {
    height: 686px;
    width: 100%;
    max-width: 768px;
  }

  .footer__image {
    display: none;
  }
  .footer__container {
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10px;
  }
  .footer__request {
    margin: 0 auto;
    background: #111111;
    padding: 10px;
    max-width: 300px;
    width: 100%;
    height: auto;
  }
  .request__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
  }

  .request__form-title {
    font-size: 12px;
    color: #ffffff;
  }
  .request__form-sub-title {
    color: #ffffff;
  }

  .request__form-button {
    display: none;
  }
  .icon-footer-button-mobile {
    display: block;
  }

  .request__form-input {
    width: 100%;
    max-width: 288px;
    height: 40px;
  }
  .footer__contacts {
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0px 10px;
    max-width: 320px;
    height: 340px;
  }
  .contacts__block,
  .contacts__location {
    width: 100%;
  }

  .contacts__sub-title {
    /* margin-bottom: 10px; */
    margin-top: 5px;
  }

  .contacts__title {
    font-size: 16px;
    margin-top: 30px;
  }

  .contacts__map {
    display: none;
  }
  .footer__container::after {
    display: none;
  }
  .footer__information {
    display: block;
    width: 100%;
    max-width: 320px;
    padding: 0 10px;
    margin-top: 30px;
  }
  .footer__information .icon-helloworld {
    /* font-size: 16px; */
    color: #ffffff;
    display: block;
    margin-bottom: 20px;
  }
  .footer__develop {
    padding: 0 10px;
  }
  .footer__logo {
    padding: 0 10px;
  }

  .popup-call__content {
    max-width: 304px;
    height: 332px;
  }
  .popup-call__container {
    padding: 40px 20px 20px 20px;
  }

  .popup-call__image {
    display: none;
  }

  .popup-call .popup-call__container .request__form .request__form-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #5b5b5b;
  }

  .popup-call .popup-call__container .request__title {
    font-size: 24px;
    line-height: 28px;
  }

  .popup__content {
    width: 256px;
    height: 212px;
  }
  .popup__text {
    width: 200px;
    font-size: 16px;
    line-height: 24px;
  }
  .service-items .swiper-scrollbar {
    width: 256px;
    /* margin: 0 auto; */
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #c4c4c4; */
    height: 1px;
  }

  .service-items .swiper-scrollbar-drag {
    height: 3px;
    top: -1px;
    width: 100%;
  }
}
